trigger:
  branches:
    include:
      - main

pool:
  name: 'local-lab'

resources:
  pipelines:
    - pipeline: cluster-base
      source: ParksBra.home-k8s-cluster-base
      trigger:
        stages:
          - applyAnsible
          - fetchKubeconfigArtifact

  repositories:
    - repository: templates
      type: github
      endpoint: ParksBra
      ref: main
      name: ParksBra/home-k8s-ado-templates

parameters:
  - name: ansibleDebug
    displayName: 'Enable Ansible Debugging'
    type: boolean
    default: false

  - name: terraformValidate
    displayName: 'Enable Terraform Validation Before Plan'
    type: boolean
    default: true

  - name: terraformPlanMode
    displayName: 'Terraform Plan Mode'
    type: string
    values:
      - "normal"
      - "destroy"
    default: "normal"

  - name: terraformApply
    displayName: 'Enable Terraform Apply After Plan (Manual Triggers Only)'
    type: boolean
    default: true

  - name: ansibleApply
    displayName: 'Enable Ansible Apply Before Terraform (Manual Triggers Only)'
    type: boolean
    default: true

variables:
  - group: home-k8s-ssh
  - group: home-k8s-cluster
  - group: home-k8s-terraform

stages:
  - template: ansible.yml@templates
    parameters:
      pythonVenvPath: "$(System.DefaultWorkingDirectory)/.venv"
      pythonVenvCacheVersion: "1"
      pythonRequirementsFileRelativePath: "requirements.txt"
      ansibleRequirementsFileRelativePath: "requirements.yml"
      ansibleRepository: "self"
      ansibleRepositoryAnsiblePath: "ansible"
      ansibleConfigRelativePath: "ansible.cfg"
      ansibleSshConfigurations:
        - group: k8s_controller
          user: controller
          keySecretFileName: "$(home-k8s-ssh-controller-key-secret-file)"
          keyPassphrase: ""
      ansiblePlaybooks:
        - site.yml
      ansibleDebug: ${{ parameters.ansibleDebug }}
      ansiblePlaybookExtraEnvironmentVariables: {}
      ansibleApply: ${{ parameters.ansibleApply }}

  - template: terraform.yml@templates
    parameters:
      kubeconfigArtifactFileName: "kubeconfig"
      kubeconfigArtifactName: "kubeConfig"
      kubeconfigArtifactSourcePipeline: "cluster-base"
      terraformRepository: "self"
      terraformRepositoryTerraformPath: "terraform"
      terraformVersion: "latest"
      terraformBackendNamespace: "kube-system"
      terraformBackendSuffix: "platform-network"
      terraformVariables:
        - name: tailscale_oauth_client_id
          value: "$(home-k8s-cluster-tailscale-operator-client-id)"
        - name: tailscale_oauth_client_secret
          value: "$(home-k8s-cluster-tailscale-operator-client-secret)"
        - name: cert_manager_acme_email
          value: "$(home-k8s-cluster-certmanager-acme-email)"
        - name: cert_manager_dns_provider
          value: "cloudflare"
        - name: cert_manager_dns_provider_email
          value: "$(home-k8s-cluster-certmanager-cloudflare-email)"
        - name: cert_manager_dns_provider_api_token
          value: "$(home-k8s-cluster-certmanager-cloudflare-api-token)"
        - name: pod_network_cidr
          value: "$(home-k8s-cluster-pod-network-cidr)"
        - name: service_network_cidr
          value: "$(home-k8s-cluster-service-network-cidr)"
        - name: cluster_domain
          value: "$(home-k8s-cluster-cluster-domain)"
        - name: external_domain
          value: "$(home-k8s-cluster-external-domain)"
        - name: dns_ttl_seconds
          value: "$(home-k8s-cluster-dns-ttl-seconds)"
        - name: dns_records_proxy_enabled
          value: "$(home-k8s-cluster-dns-records-proxy-enabled)"
      terraformExtraEnvironmentVariables:
        - name: CLOUDFLARE_API_TOKEN
          value: "$(home-k8s-terraform-provider-cloudflare-api-token)"
      terraformValidate: ${{ parameters.terraformValidate }}
      terraformPlanDestroy: ${{ eq(parameters.terraformPlanMode, 'destroy') }}
      terraformApply: ${{ parameters.terraformApply }}
      terraformApplyDependsOn:
        - applyAnsible
